<%- include("partials/header"); -%>
<section class="hero" id="hero">
    <div class="container">
      <h1 class="headline-main">Deep Learning</h1>
      <div class="headline-description">
        <div class="seperator">
          <div class="line line-left"></div>
          <div class="asterisk"><i class="fas fa-asterisk"></i></div>
          <div class="line line-right"></div>
        </div>
      </div>
    </div>
  </section>
<%- include("partials/footer"); -%>